body{
    background-color: rgb(160, 91, 102);
}

h1{
    color: #025157;
}

p{
    color: cornsilk;
}

button{
    color: #fff;
}

button{
    background-color: #025157;
}

ul{
    list-style-type:none;
    background-color: rgb(147, 180, 114);
    overflow: hidden;
    vertical-align:super;
    padding: 0px;;
}

li{
    float: left;
}

li a{
    /*display: block;*/
    color: rgb(150, 65, 79);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.barranav{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.elementosnav{
    width: 150%;
}

.actions{
    width: 15%;
}

body{
    font-family: "Oswald";
}

.colorbase{
    color: rgb(147, 180, 114);
}