$color-primario: rgb(160,91,102);
$color-secundario: rgb(147,180,114);
$color-terciario:pink;
$borde-boton: border 2px solid #457b9d;
$tamaño-fuente-base: 40px;
$tamaño-fuente-secundario:30px;
$tamaño-fuente-pequeño:25px;


$bgcolor: #003366;
$borde: solid 1px yellow;

:root {
    --borde: solid 1px yellow;
}


body{
    font-family: 'Indie Flower', cursive;
}

body{
    background-color: $color-primario;

}

div{
    font-size: $tamaño-fuente-base;
}

p{
    color: $color-terciario;
    font-size: $tamaño-fuente-secundario;
}


button{
    background-color: $color-secundario;
    overflow: hidden;
    color: $color-primario;
}

ul{
    list-style-type:none;
    background-color: $color-secundario;
    overflow: hidden;
    vertical-align:super;
    padding: 0px;
    font-size: $tamaño-fuente-base;

}

li{
    float: right;
}

li a{
    /*display: block;*/
    color: $color-primario;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

h1{
    font-size: 90px;
    color: $color-secundario;    
}

h4{
    font-size: $tamaño-fuente-secundario;
}

form{
    font-size: $tamaño-fuente-pequeño;
}


.barranav{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.elementosnav{
    width: 150%;
}

.actions{
    width: 15%;
}

.colorbase{
    color: $color-secundario;
    text-decoration: none;
    font-size: $tamaño-fuente-pequeño;
}

.marco{
    width: 100%;
    height: 200px;       
    border: 1px solid $color-secundario;
}

.centrar{
    text-align: center;
}

.boton{
    background-color: $color-secundario;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    color:  $color-primario;   
}

.boton:hover{
    background-color: $color-primario;
    color:  $color-secundario;
}

.primera-parte {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

hr{
    color: $color-secundario;
}

.portafolio{
    background: #c0c0cf;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;   
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);    
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;   
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
  }
  
  .contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
  }
  
  .content-foo{
    text-align: center;
  }
  
  .content-foo h4{
    color: #fff; 
    border-bottom: 3px solid  #cb997e;
    padding-bottom: 5px;
    margin-bottom: 10px;
  
  }
  
  .content-foo p{
    color: #ccc; 
    
  }
  
  .titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
  }
  
  
  
  
  
  @media screen and (max-width:900px){
    header{
        background-position: center;
    }
  
    .bienvenidos{
       /* background-position: center;*/
       width: 90%;
       background-position: center;
    }
  
    h4{
      flex-direction: column;
  
    }
    
  
    @media screen and (max-width:500px){
      .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
  
    .content-foo h4{
        border: none;
    }
  
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
  
    .titulo-final{
        font-size: 20px;
    }
  
  }

